[Unit]
Description=Stratis minimal daemon
Documentation=man:stratisd(8)
DefaultDependencies=no
After=sysinit.target

[Service]
Type=notify
Environment="RUST_BACKTRACE=1"
ExecStartPre=-mkdir -p /run/cryptsetup
ExecStart=/usr/libexec/stratisd-min --log-level debug
KillSignal=SIGINT
Restart=on-abort
