# builds
*.o
*.so
*.so.*
# text editors
*.swp
*.bk
# misc
target
.project 
.settings
.vscode
tests/test_config.json
# man pages
*.8

# python files
*.pyc
*.egg-info

# working directories
.coverage
.hypothesis
.tox

# coverage output
htmlcov

