# builds
*.o
*.so
*.so.*
# text editors
*.swp
*.swo
*.bk
# misc
target
.project 
.settings
.vscode
tests/test_config.json
# man pages
*.8
*.8.gz

# python files
*.pyc
*.egg-info
__pycache__

# working directories
.cache
.coverage
.hypothesis
.tox

# coverage output
htmlcov

# proptest
proptest-regression*

# pytest
.pytest_cache

# cargo-vendor
vendor
*vendor.tar.gz
