os: linux
group: edge

addons:
    apt:
        packages:
          - libdbus-1-dev
          - libudev-dev
          - libdbus-glib-1-dev
          # needed for i686-unknown-linux-gnu target
          - gcc-multilib
          - python3-pyudev

language: rust

matrix:
    fast_finish: true
    allow_failures:
        # Allow beta tasks to fail
        - rust: beta
    include:
        # Run rustfmt using the compiler currently recommended for development
        - rust: 1.31.0
          before_script:
              - rustup component add rustfmt
          env: TASK=fmt-travis TARGET=x86_64-unknown-linux-gnu
        # Verify that source builds with standard defaults
        - rust: stable
          env: TASK=build TARGET=x86_64-unknown-linux-gnu
        # Verify that source builds with no defaults enabled
        - rust: stable
          env: TASK=build-no-default TARGET=x86_64-unknown-linux-gnu
        # Verify that source and tests build on rustc 1.31.0
        # rustc 1.31.0 is the lowest supported compiler version.
        - rust: 1.31.0
          env: TASK=test TARGET=x86_64-unknown-linux-gnu
        # Verify that source builds on a 32 bit system
        - rust: stable
          env: TASK=build TARGET=i686-unknown-linux-gnu PKG_CONFIG_ALLOW_CROSS=1 PKG_CONFIG_PATH=/usr/lib/i386-linux-gnu/pkgconfig/
          install:
            - rustup target add $TARGET
            - sudo dpkg --add-architecture i386
            - sudo apt-get update
            - sudo apt-get install -y gcc-multilib libdbus-1-dev:i386 libdbus-glib-1-dev:i386 libglib2.0-dev:i386 libudev-dev:i386
        # Verify that docs build
        - rust: stable
          env: TASK=docs-travis TARGET=x86_64-unknown-linux-gnu
        # Run non-destructive tests
        - rust: stable
          env: TASK=test TARGET=x86_64-unknown-linux-gnu
        # Run destructive tests that can be run on Travis
        - rust: stable
          env: TASK=test-travis TARGET=x86_64-unknown-linux-gnu
          sudo: required
        # Run clippy, the Rust linter, using currently recommended compiler
        - rust: 1.31.0
          before_script:
              - rustup component add clippy
          env: TASK=clippy TARGET=x86_64-unknown-linux-gnu
        # Run destructive tests on rust beta, in order to be good Rustaceans
        - rust: beta
          env: TASK=test-travis TARGET=x86_64-unknown-linux-gnu
          sudo: required
        # Run pylint, Python linter, on any Python test code
        - language: python
          # dbus-python does not compile on higher versions of python on
          # trusty distribution of Ubuntu.
          python: "3.4"
          install: pip3 install -r tests/client-dbus/requirements.txt
          before_script:
              - cd tests/client-dbus
          env: TASK=lint
        # Format any Python test code using yapf
        - language: python
          python: "3.6"
          install: pip3 install -r tests/client-dbus/requirements.txt
          before_script:
              - cd tests/client-dbus
          env: TASK=fmt-travis

branches:
    only: master

script: make -f Makefile $TASK
