os: linux
group: edge

addons:
    apt:
        packages:
          - libdbus-1-dev
          - libudev-dev
          - libdbus-glib-1-dev
          # needed for i686-unknown-linux-gnu target
          - gcc-multilib

language: rust

matrix:
    allow_failures:
        - env: TASK=clippy TARGET=x86_64-unknown-linux-gnu
    include:
        - rust: stable
          env: TASK=fmt-travis TARGET=x86_64-unknown-linux-gnu
        - rust: stable
          env: TASK=build TARGET=x86_64-unknown-linux-gnu
        - rust: stable
          env: TASK=build-no-default TARGET=x86_64-unknown-linux-gnu
        - rust: stable
          env: TASK=build TARGET=x86_64-unknown-linux-gnu
          install:
            - rustup default 1.26.0
        - rust: stable
          env: TASK=build TARGET=i686-unknown-linux-gnu PKG_CONFIG_ALLOW_CROSS=1 PKG_CONFIG_PATH=/usr/lib/i386-linux-gnu/pkgconfig/
          install:
            - rustup target add $TARGET
            - sudo dpkg --add-architecture i386
            - sudo apt-get update
            - sudo apt-get install -y gcc-multilib libdbus-1-dev:i386 libdbus-glib-1-dev:i386 libglib2.0-dev:i386 libudev-dev:i386
        - rust: stable
          env: TASK=docs-travis TARGET=x86_64-unknown-linux-gnu
        - rust: stable
          env: TASK=test TARGET=x86_64-unknown-linux-gnu
        - rust: stable
          env: TASK=test-travis TARGET=x86_64-unknown-linux-gnu
          sudo: required
        - rust: nightly
          env: TASK=clippy TARGET=x86_64-unknown-linux-gnu
        - language: python
          python: "3.4"
          install: pip3 install -r tests/client-dbus/requirements.txt
          before_script:
              - cd tests/client-dbus
          env: TASK=lint
        - language: python
          python: "3.4"
          install: pip3 install -r tests/client-dbus/requirements.txt
          before_script:
              - cd tests/client-dbus
          env: TASK=fmt-travis

branches:
    only: master

script: make -f Makefile $TASK
