[package]
name = "libstratis"
version = "2.2.0"
authors = ["Stratis Developers <stratis-devel@lists.fedorahosted.com>"]
edition = "2018"
build = "build.rs"

[[bin]]
name = "stratis_dumpmetadata"
required-features = ["extras"]

[[bin]]
name = "stratis_uuids_to_names"
required-features = ["dbus_enabled"]

[[bin]]
name = "stratis_dbusquery_version"
required-features = ["dbus_enabled"]

[[bin]]
name = "stratis-min"
required-features = ["extras"]

[dependencies]
clap = "2"
nix = "0.14"
devicemapper = "0.28.0"
crc = "1"
byteorder = "1"
chrono = "0.4"
rand = "0.7"
serde = "1"
serde_derive = "1"
serde_json = "1"
tempfile = "3.0.1"
log = "0.4"
env_logger="0.7"
libc = "0.2.68"
libmount = "0.1.13"
libudev = "0.2.0"
lazy_static = "1.4.0"
timerfd = "1.0.0"
itertools = "0.9.0"
libcryptsetup-rs = "0.4.0"
semver = "0.9.0"
termios = "0.3"
regex = "1.3"

[dependencies.dbus]
version = "0.8"
optional = true

[dependencies.libdbus-sys]
version = "0.2"
optional=true

[dependencies.uuid]
version = "0.8"
features = ["serde", "v4"]

[build-dependencies]
pkg-config = "0.3"

[dev-dependencies]
error-chain = "0.12.1"
loopdev = "0.2"
either = "1.1.0"
proptest = "0.10.0"
matches = "0.1.8"

[features]
default = ["dbus_enabled"]
dbus_enabled = ["dbus", "libdbus-sys"]
extras = []
