[package]
name = "libstratis"
version = "0.9.0"
authors = ["Stratis Developers <stratis-devel@lists.fedorahosted.com>"]

[dependencies]
dbus = {version = "0.6.1", optional = true}
clap = "2"
nix = "0.11"
devicemapper = "0.24.0"
crc = "1"
byteorder = "1"
chrono = "0.4"
macro-attr = "0.2.0"
rand = "0.4"
serde = "1"
serde_derive = "1"
serde_json = "1"
tempfile = "3.0.1"
log = "0.4"
env_logger="0.5"
libc = "0.2.36"
libmount = "0.1.10"
error-chain = "0.12"
libudev = "0.2.0"
lazy_static = "1.0.0"
timerfd = "1.0.0"

[dependencies.uuid]
version = "0.6"
features = ["serde", "v4"]

[dev-dependencies]
quickcheck = "0.6"
loopdev = "0.2"
either = "1.1.0"

[features]
default = ["dbus_enabled"]
dbus_enabled = ["dbus"]
