[package]
name = "libstratis"
version = "0.1.5"
authors = ["Stratis Developers <stratis-devel@lists.fedorahosted.com>"]

[dependencies]
dbus = {version = "0.6.1", optional = true}
clap = "2"
nix = "0.10"
devicemapper = "0.18.0"
crc = "1"
byteorder = "1"
chrono = "0.4"
macro-attr = "0.2.0"
rand = "0.4"
serde = "1"
serde_derive = "1"
serde_json = "1"
tempdir = "0.3.5"
log = "0.3"
env_logger="0.4"
libc = "0.2.36"
clippy = {version = "*", optional = true}
mnt = "0.3.1"
error-chain = "0.11.0"
libudev = "0.2.0"
either = "1.4.0"

[dependencies.uuid]
version = "0.5"
features = ["serde", "v4"]

[dev-dependencies]
quickcheck = "0.6"
loopdev = "0.2"

[features]
dbus_enabled = ["dbus"]
