[package]
name = "stratis"
version = "0.1.0"
authors = ["Andy Grover <agrover@redhat.com>", "Mulhern <amulhern@redhat.com>", "Todd Gill <tgill@redhat.com>"]

[dependencies]
dbus = "0.5"
clap = "1"
nix = "0"
devicemapper = "0.4.0"
crc = "1"
byteorder = "0.3.13"
time = "0.1"
newtype_derive = "0.1"
custom_derive = "0.1"
enum_derive = "0.1"
term = "0.4"
rand = "0.3"
serde = "0"
serde_derive = "0"
serde_json = "0"
log = "0.3"
env_logger="0.3.5"

[dependencies.uuid]
version = "0.3.1"
features = ["v4"]

[dev-dependencies]
quickcheck = "0.4"
rustc-serialize = "0.3.21"

