[package]
name = "libstratis"
version = "0.1.4"
authors = ["Stratis Developers <stratis-devel@lists.fedorahosted.com>"]

[dependencies]
dbus = "0.6.1"
clap = "1"
nix = "0.9"
devicemapper = "0.15"
crc = "1"
byteorder = "0.3.13"
chrono = "0.4"
macro-attr = "0.2.0"
term = "0.4"
rand = "0.3.10"
serde = "1"
serde_derive = "1"
serde_json = "1"
tempdir = "0.3.5"
log = "0.3"
env_logger="0.3.5"
libc = "0.2"
clippy = {version = "*", optional = true}
mnt = "0.3.1"
error-chain = "0.11.0"
libudev = "0.2.0"

[dependencies.uuid]
version = "0.5"
features = ["serde", "v4"]

[dev-dependencies]
quickcheck = "0.4"
loopdev = "0.1.1"
