[package]
name = "libstratis"
version = "2.4.2"
authors = ["Stratis Developers <stratis-devel@lists.fedorahosted.com>"]
edition = "2018"
build = "build.rs"
description = "Stratis daemon"
license-file = "LICENSE"
repository = "https://github.com/stratis-storage/stratisd/"
keywords = ["Linux", "filesystem", "storage"]
categories = ["filesystem"]

[[bin]]
name = "stratis_dumpmetadata"
required-features = ["extras"]

[[bin]]
name = "stratis-min"
path = "src/bin/stratis-min/stratis-min.rs"
required-features = ["min"]

[[bin]]
name = "stratisd-min"
path = "src/bin/stratis-min/stratisd-min.rs"
required-features = ["min"]

[[bin]]
name = "stratis-utils"

[dependencies]
byteorder = "1.2.3"
chrono = "0.4.1"
clap = "2.23.0"
crc = "1.0.0"
data-encoding = "2.3.0"
devicemapper = "0.29.0"
either = "1.5.0"
env_logger="0.8.0"
futures = "0.3.11"
itertools = "0.10.0"
lazy_static = "1.2.0"
libc = "0.2.94"
libmount = "0.1.9"
libudev = "0.2.0"
log = "0.4.14"
nix = "0.20.0"
rand = "0.8.0"
regex = "1.4.0"
serde = "1.0.119"
serde_derive = "1.0.119"
serde_json = "1.0.50"
sha-1 = "0.9.0"
tempfile = "3.0.2"

[dependencies.libcryptsetup-rs]
version = "0.4.3"
features = ["mutex"]

[dependencies.tokio]
version = "1.2.0"
features = ["sync", "macros", "rt", "rt-multi-thread", "signal", "net"]

[dependencies.dbus]
version = "0.9.0"
features = ["futures"]
optional = true

[dependencies.dbus-tree]
version = "0.9.0"
optional = true

[dependencies.libdbus-sys]
version = "0.2.1"
optional = true

[dependencies.pretty-hex]
version = "0.2.0"
optional = true

[dependencies.rpassword]
version = "5.0.0"
optional = true

[dependencies.uuid]
version = "0.8.0"
features = ["serde", "v4"]

[build-dependencies]
pkg-config = "0.3.18"

[build-dependencies.bindgen]
version = "0.57.0"
optional = true

[dev-dependencies]
error-chain = "0.12.4"
loopdev = "0.2.0"
matches = "0.1.3"
proptest = "1.0.0"

[features]
default = ["dbus_enabled"]
dbus_enabled = ["dbus", "dbus-tree", "libdbus-sys"]
extras = ["pretty-hex"]
min = ["rpassword"]
systemd_compat = ["bindgen"]
