[package]
name = "libstratis"
version = "2.4.0"
authors = ["Stratis Developers <stratis-devel@lists.fedorahosted.com>"]
edition = "2018"
build = "build.rs"
description = "Stratis daemon"
license-file = "LICENSE"
repository = "https://github.com/stratis-storage/stratisd/"
keywords = ["Linux", "filesystem", "storage"]
categories = ["filesystem"]

[[bin]]
name = "stratis_dumpmetadata"
required-features = ["extras"]

[[bin]]
name = "stratis_dbusquery_version"
required-features = ["dbus_enabled"]

[[bin]]
name = "stratis-min"
required-features = ["extras"]

[dependencies]
clap = "2"
nix = "0.18"
devicemapper = "0.29"
crc = "1"
byteorder = "1"
chrono = "0.4"
rand = "0.7"
serde = "1"
serde_derive = "1"
serde_json = "1"
tempfile = "3"
log = "0.4"
env_logger="0.8"
libc = "0.2"
libmount = "0.1"
libudev = "0.2"
lazy_static = "1"
timerfd = "1"
itertools = "0.10.0"
semver = "0.11"
termios = "0.3"
regex = "1"
base64 = "0.13"
sha-1 = "0.9"
either = "1"
futures = "0.3"

[dependencies.libcryptsetup-rs]
version = "0.4.3"
features = ["mutex"]

[dependencies.tokio]
version = "1.0"
features = ["sync", "macros", "rt", "rt-multi-thread", "signal", "net"]

[dependencies.dbus]
version = "0.9"
features = ["futures"]
optional = true

[dependencies.dbus-tree]
version = "0.9"
optional = true

[dependencies.dbus-tokio]
version = "0.7"
optional = true

[dependencies.libdbus-sys]
version = "0.2"
optional = true

[dependencies.uuid]
version = "0.8"
features = ["serde", "v4"]

[build-dependencies]
pkg-config = "0.3"

[dev-dependencies]
error-chain = "0.12.2"
loopdev = "0.2"
proptest = "0.10"
matches = "0.1"

[features]
default = ["dbus_enabled"]
dbus_enabled = ["dbus", "dbus-tree", "dbus-tokio", "libdbus-sys"]
extras = []
