[package]
name = "libstratis"
version = "0.1.0"
authors = ["Andy Grover <agrover@redhat.com>", "Mulhern <amulhern@redhat.com>", "Todd Gill <tgill@redhat.com>"]

[dependencies]
dbus = "0.5.2"
clap = "1"
nix = "0"
devicemapper = "0.6"
crc = "1"
byteorder = "0.3.13"
chrono = "0.4"
custom_derive = "0.1"
enum_derive = "0.1"
term = "0.4"
rand = "0.3"
serde = "1"
serde_derive = "1"
serde_json = "1"
log = "0.3"
env_logger="0.3.5"
libc = "0.2"
clippy = {version = "*", optional = true}

[dependencies.uuid]
version = "0.5"
features = ["serde", "v4"]

[dev-dependencies]
quickcheck = "0.4"
tempdir = "0.3.5"
loopdev = "0.1.1"
