[Unit]
Description=Stratis daemon
Documentation=man:stratisd(8)
After=dbus.socket
DefaultDependencies=no

[Service]
Environment="RUST_BACKTRACE=1"
ExecStart=/usr/libexec/stratisd --log-level debug
KillSignal=SIGINT
Restart=on-abort
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=sysinit.target
