[Unit]
Description=Stratis daemon
Documentation=man:stratisd(8)
Before=local-fs-pre.target
DefaultDependencies=no

[Service]
Environment="RUST_BACKTRACE=1"
ExecStart=/usr/libexec/stratisd --debug
KillSignal=SIGINT
Restart=on-abort
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=sysinit.target
