[Unit]
Description=Stratis minimal daemon
Documentation=man:stratisd(8)
DefaultDependencies=no
Requires=systemd-modules-load.service
After=systemd-modules-load.service

[Service]
Environment="RUST_BACKTRACE=1"
ExecStart=/usr/libexec/stratisd-min --log-level debug
KillSignal=SIGINT
Restart=on-abort
