[Unit]
Description=Stratis daemon
Documentation=man:stratisd(8)
DefaultDependencies=no

[Service]
BusName=org.storage.stratis2
Type=dbus
Environment="RUST_BACKTRACE=1"
ExecStart=/usr/libexec/stratisd --log-level debug
KillSignal=SIGINT
KillMode=process
Restart=on-abort

[Install]
WantedBy=sysinit.target
