[Unit]
Description=Stratis minimal daemon
Documentation=man:stratisd(8)
DefaultDependencies=no
Requires=dev-mapper-control.device
After=dev-mapper-control.device

[Service]
Environment="RUST_BACKTRACE=1"
ExecStart=/usr/libexec/stratisd-min --log-level debug
KillSignal=SIGINT
Restart=on-abort
