ACTION=="change", ENV{DM_NAME}=="stratis-1-[0-9a-f]*-thin-fs-[0-9a-f]*", PROGRAM+="/bin/sh -c '[ \"$env{SYNTH_UUID}\" = \"$env{ID_FS_UUID}\" ] && echo 0 || echo 1'", RESULT=="0", ENV{SYNTH_UUID}!="", ENV{SYNTH_ARG_STRATISPOOLNAME}!="", ENV{SYNTH_ARG_STRATISFSNAME}!="", ENV{STRATIS_POOL_NAME}="$env{SYNTH_ARG_STRATISPOOLNAME}", ENV{STRATIS_FS_NAME}="$env{SYNTH_ARG_STRATISFSNAME}", SYMLINK+="stratis/$env{SYNTH_ARG_STRATISPOOLNAME}/$env{SYNTH_ARG_STRATISFSNAME}", GOTO="stratis_end"

IMPORT{db}="STRATIS_POOL_NAME", IMPORT{db}="STRATIS_FS_NAME"
ACTION=="change", ENV{DM_NAME}=="stratis-1-[0-9a-f]*-thin-fs-[0-9a-f]*", ENV{STRATIS_POOL_NAME}!="", ENV{STRATIS_FS_NAME}!="", SYMLINK+="stratis/$env{STRATIS_POOL_NAME}/$env{STRATIS_FS_NAME}"

LABEL="stratis_end"
