---
name: stratisd dummy CI

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - rebase-3.6.0
  pull_request:
    branches:
      - rebase-3.6.0

  workflow_dispatch:

# cancel the in-progress workflow when PR is refreshed.
# yamllint disable rule:line-length
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  dummy:
    runs-on: ubuntu-22.04
    steps:
      - name: Run dummy test
        run: echo "I exist to be Required in Github branch protection rules"
