---
name: stratisd CI on fedora

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - rebase-3.6.0
    paths-ignore:
      - 'CHANGES.txt'
      - '**/README.md'
      - 'README_tests.md'
      - 'tests/**'
      - '.packit.yaml'
      - 'plans/**'
      - 'tests-fmf/**'
  pull_request:
    branches:
      - rebase-3.6.0
    paths-ignore:
      - 'CHANGES.txt'
      - '**/README.md'
      - 'README_tests.md'
      - 'tests/**'
      - '.packit.yaml'
      - 'plans/**'
      - 'tests-fmf/**'

  workflow_dispatch:

# cancel the in-progress workflow when PR is refreshed.
# yamllint disable rule:line-length
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  checks:
    strategy:
      matrix:
        include:
          - task: make -f Makefile clippy
            toolchain: 1.81.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: clippy
          - task: PROFILEDIR=debug make -f Makefile build
            toolchain: 1.81.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
          - task: PROFILEDIR=debug make -f Makefile build-min
            toolchain: 1.81.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
          - task: PROFILEDIR=debug make -f Makefile build-min-no-systemd
            toolchain: 1.81.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
          - task: PROFILEDIR=debug make -f Makefile build-utils
            toolchain: 1.81.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
          - task: PROFILEDIR=debug make -f Makefile build-no-ipc
            toolchain: 1.81.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
          - task: PROFILEDIR=debug make -f Makefile stratisd-tools
            toolchain: 1.81.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
          - task: make -f Makefile docs-ci
            toolchain: 1.81.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
          - task: make -f Makefile test
            toolchain: 1.81.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
          - task: >-
              TANG_URL=localhost
              make -f Makefile test-clevis-loop-should-fail
            toolchain: 1.80.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
          - task: make -f Makefile build
            toolchain: 1.81.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
          - task: make -f Makefile build-min
            toolchain: 1.81.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
          - task: make -f Makefile build-no-ipc
            toolchain: 1.81.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
    runs-on: ubuntu-22.04
    container:
      image: fedora:40  # CURRENT DEVELOPMENT ENVIRONMENT
      options: --privileged -v /dev:/dev -v /run/udev:/run/udev -v /usr/lib/udev:/usr/lib/udev
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          curl
          cryptsetup-devel
          dbus-devel
          device-mapper-persistent-data
          device-mapper-devel
          libblkid-devel
          make
          ncurses
          sudo
          systemd-devel
      - uses: dtolnay/rust-toolchain@master
        with:
          components: ${{ matrix.components }}
          toolchain: ${{ matrix.toolchain }}
      - name: Test ${{ matrix.task }} on ${{ matrix.toolchain }} toolchain
        run: ${{ matrix.task }}

  # TESTS WITH UDEV
  checks_with_udev:
    strategy:
      matrix:
        include:
          - task: RUST_LOG=stratisd=debug make -f Makefile test-loop
            toolchain: 1.81.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
    runs-on: ubuntu-22.04
    container:
      image: fedora:40  # CURRENT DEVELOPMENT ENVIRONMENT
      options: --privileged -v /dev:/dev -v /run/udev:/run/udev -v /usr/lib/udev:/usr/lib/udev --ipc=host
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          asciidoc
          clang
          cryptsetup-devel
          curl
          dbus-devel
          glibc-static
          device-mapper-devel
          device-mapper-persistent-data
          libblkid-devel
          make
          ncurses
          sudo
          systemd-devel
          systemd-udev
          xfsprogs
      - uses: dtolnay/rust-toolchain@master
        with:
          components: ${{ matrix.components }}
          toolchain: ${{ matrix.toolchain }}
      - name: Build stratisd
        run: PROFILEDIR=debug make -f Makefile build-all
      - name: Install stratisd
        run: PROFILEDIR=debug make -f Makefile install
      - name: Reload udev
        run: udevadm control --reload
      - name: Test ${{ matrix.task }} on ${{ matrix.toolchain }} toolchain
        run: ${{ matrix.task }}
