---
name: stratisd CI

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
      - develop-2.3.0
  pull_request:
    branches:
      - master
      - develop-2.3.0

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  checks:
    strategy:
      matrix:
        include:
          # MANDATORY CHECKS USING CURRENT DEVELOPMENT COMPILER
          - task: make -f Makefile fmt-travis
            toolchain: 1.50.0
            components: rustfmt
          - task: make -f Makefile clippy
            toolchain: 1.50.0
            components: clippy
          # MANDATORY TESTING ON STABLE
          - task: make -f Makefile build
            toolchain: stable
            components: cargo
          - task: make -f Makefile build-no-default
            toolchain: stable
            components: cargo
          - task: make -f Makefile build-extras
            toolchain: stable
            components: cargo
          - task: make -f Makefile docs-travis
            toolchain: stable
            components: cargo
          - task: make -f Makefile test
            toolchain: stable
            components: cargo
          - task: make -f Makefile release
            toolchain: stable
            components: cargo
    runs-on: ubuntu-18.04
    container:
      image: ubuntu:groovy
      options: --privileged
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: apt-get -q update
      - name: Install dependencies
        run: >
          DEBIAN_FRONTEND=noninteractive
          apt-get -y install
          clang
          curl
          libblkid-dev
          libcryptsetup-dev
          libdbus-1-dev
          libudev-dev
          make
          thin-provisioning-tools
          udev
          xfsprogs
      - uses: actions-rs/toolchain@v1
        with:
          components: ${{ matrix.components }}
          toolchain: ${{ matrix.toolchain }}
          override: true
      - name: Test ${{ matrix.task }} on ${{ matrix.toolchain }} toolchain
        run: ${{ matrix.task }}

  # TESTS WITH UDEV
  checks:
    strategy:
      matrix:
        include:
          # MANDATORY CHECKS USING CURRENT DEVELOPMENT COMPILER
          - task: RUST_LOG=libstratis=info make -f Makefile test-travis
            toolchain: stable
            components: cargo
    runs-on: ubuntu-18.04
    container:
      image: ubuntu:groovy
      options: --privileged
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: apt-get -q update
      - name: Install dependencies
        run: >
          DEBIAN_FRONTEND=noninteractive
          apt-get -y install
          clang
          curl
          libblkid-dev
          libcryptsetup-dev
          libdbus-1-dev
          libudev-dev
          make
          systemd
          thin-provisioning-tools
          udev
          xfsprogs
      - name: Start udev
        run: /usr/lib/systemd/systemd-udevd &
      - uses: actions-rs/toolchain@v1
        with:
          components: ${{ matrix.components }}
          toolchain: ${{ matrix.toolchain }}
          override: true
      - name: Test ${{ matrix.task }} on ${{ matrix.toolchain }} toolchain
        run: ${{ matrix.task }}

  # ALLOWED FAILURES
  allowed_failures:
    continue-on-error: true
    strategy:
      matrix:
        include:
          # Allowed because a failure may occur after a new Rust stable
          # version is released.
          - task: make -f Makefile clippy
            toolchain: stable
            components: clippy
          # Run audit on Rust stable.  Make it an allowed failure, because:
          # * It takes 9 minutes, the longest of any task.
          # * It should be an advisory, and should not gate our development.
          - task: make -f Makefile audit
            toolchain: stable
            components: cargo
    runs-on: ubuntu-18.04
    container:
      image: ubuntu:groovy
      options: --privileged
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: apt-get -q update
      - name: Install dependencies
        run: >
          DEBIAN_FRONTEND=noninteractive
          apt-get -y install
          clang
          curl
          libblkid-dev
          libcryptsetup-dev
          libdbus-1-dev
          libssl-dev
          libudev-dev
          make
      - uses: actions-rs/toolchain@v1
        with:
          components: ${{ matrix.components }}
          toolchain: ${{ matrix.toolchain }}
          override: true
      - name: Test ${{ matrix.task }} on ${{ matrix.toolchain }} toolchain
        run: ${{ matrix.task }}

  python-checks:
    strategy:
      matrix:
        include:
          # MANDATORY PYTHON CHECKS ON RECOMMENDED DEVELOPMENT INTERPRETER
          - python-version: 3.8.6
            dependencies: >
              pylint==2.4.4
              dbus-client-gen==0.4
              dbus-python-client-gen==0.7
              psutil==5.6.7
              pyudev==0.22.0
              networkx==2.5
              requests==2.22.0
              semantic_version==2.8.4
              PyGithub==1.45
            task: >
              (cd code_maintenance; make -f Makefile lint) &&
              (cd developer_tools; make -f Makefile lint) &&
              (cd tests/client-dbus; PYTHONPATH=./src make -f Makefile lint)
          - python-version: 3.8.6
            dependencies: black==20.8b1 isort==4.3.21
            task: >
              (cd code_maintenance; make -f Makefile fmt-travis) &&
              (cd developer_tools; make -f Makefile fmt-travis) &&
              (cd tests/client-dbus; make -f Makefile fmt-travis)
          # MANDATORY PYTHON CHECKS ON LOWEST SUPPORTED INTERPRETER
          - python-version: 3.6.8
            dependencies: >
              pylint==2.4.4
              dbus-client-gen==0.4
              dbus-python-client-gen==0.7
              psutil==5.4.3
              pyudev==0.21.0
            task: >
              (cd developer_tools; make -f Makefile lint) &&
              (cd tests/client-dbus; PYTHONPATH=./src make -f Makefile lint)
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get -q update
          sudo apt-get -y install libdbus-1-dev libudev-dev libdbus-glib-1-dev
          pip3 install ${{ matrix.dependencies }}
      - name: Run test
        run: ${{ matrix.task }}

  # VERIFICATION OF TEST INFRASTRUCTURE
  yamllint:
    env:
      TASK: yamllint
      PYTHON: 3.8.6
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON }}
      - name: Install dependencies
        run: pip3 install yamllint==1.25.0
      - name: Run yamllint
        run: make -f Makefile $TASK
