---
name: stratisd nightly

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: 15 3 * * *

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  allowed_failures:
    continue-on-error: true
    strategy:
      matrix:
        include:
          - task: cargo update --locked
            toolchain: 1.53.0  # CURRENT DEVELOPMENT TOOLCHAIN
            components: cargo
          - task: make -f Makefile audit
            toolchain: 1.53.0  # CURRENT DEVELOPMENT TOOLCHAIN
            components: cargo
          # Allowed because a failure may occur after a new Rust stable
          # version is released.
          - task: make -f Makefile clippy
            toolchain: stable
            components: clippy
    runs-on: ubuntu-18.04
    container:
      image: fedora:33  # CURRENT DEVELOPMENT ENVIRONMENT
      options: --privileged -v /dev:/dev
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          curl
          cryptsetup-devel
          dbus-devel
          libblkid-devel
          make
          openssl-devel
          python-requests
          python-semantic_version
          systemd-devel
      - uses: actions-rs/toolchain@v1
        with:
          components: ${{ matrix.components }}
          toolchain: ${{ matrix.toolchain }}
          override: true
      - name: Test ${{ matrix.task }} on ${{ matrix.toolchain }} toolchain
        run: ${{ matrix.task }}

  # Nightly to show us in advance what will change in Python utilities in
  # the next version of Fedora
  next-fedora-python-checks:
    continue-on-error: true
    strategy:
      matrix:
        include:
          # PYTHON CHECKS ON NEXT FEDORA PYTHON AND PYTHON TOOLS VERSION
          - dependencies: >
              pylint
              python3-requests
              python3-pygithub
              python3-semantic_version
            image: fedora:34
            task: make -f Makefile lint
            working-directory: ./code_maintenance
          - dependencies: >
              pylint
              python3-dbus-client-gen
              python3-dbus-python-client-gen
              python3-psutil
              python3-pyudev
              python3-semantic_version
            image: fedora:34
            task: PYTHONPATH=./src make -f Makefile lint
            working-directory: ./tests/client-dbus
          - dependencies: black python3-isort
            image: fedora:34
            task: make -f Makefile fmt-travis
            working-directory: ./code_maintenance
          - dependencies: black python3-isort
            image: fedora:34
            task: make -f Makefile fmt-travis
            working-directory: ./tests/client-dbus
          - dependencies: yamllint
            image: fedora:34
            task: make -f Makefile yamllint
            working-directory: .
    runs-on: ubuntu-18.04
    container: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: >
          dnf install -y
          make
          python-unversioned-command
          ${{ matrix.dependencies }}
      - name: Display Python version
        run: python --version
      - name: Run test
        run: ${{ matrix.task }}
        working-directory: ${{ matrix.working-directory }}

  # RPM building tasks, for testing
  packaging:
    runs-on: ubuntu-18.04
    container:
      image: fedora:33  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions-rs/toolchain@v1
        with:
          components: cargo
          toolchain: 1.53.0  # CURRENT DEVELOPMENT TOOLCHAIN
      - name: Install dependencies
        run: dnf install -y findutils git make tar util-linux
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set release version
        run: >
          echo
          "RELEASE_VERSION=$(git describe --abbrev=0 | colrm 1 1)"
          >>
          $GITHUB_ENV
      - name: Make the tar file
        run: >
          RELEASE_VERSION=${{ env.RELEASE_VERSION }}
          make -f Makefile vendored-tar-file
      - name: Set name
        run: >
          echo
          "NAME=$(find . -name 'stratisd-*-vendor.tar.gz' -printf '%f\n')"
          >>
          $GITHUB_ENV
      - name: Set path
        run: >
          echo
          "PATH=$(find . -name 'stratisd-*-vendor.tar.gz')"
          >>
          $GITHUB_ENV
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ env.NAME }}
          path: ${{ env.PATH }}

  checks-with-ci-repo:
    strategy:
      matrix:
        include:
          # yamllint disable rule:line-length
          - task: |
              COMPARE_FEDORA_VERSIONS=./compare_fedora_versions MANIFEST_PATH=../../Cargo.toml FEDORA_RELEASE=rawhide make -f ../../Makefile check-fedora-versions
              COMPARE_FEDORA_VERSIONS=./compare_fedora_versions MANIFEST_PATH=../../Cargo.toml FEDORA_RELEASE=f34 make -f ../../Makefile check-fedora-versions
    runs-on: ubuntu-18.04
    container:
      image: fedora:33  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          curl
          cryptsetup-devel
          dbus-devel
          git
          libblkid-devel
          make
          openssl-devel
          python-requests
          python-semantic_version
          systemd-devel
      - uses: actions-rs/toolchain@v1
        with:
          components: cargo
          toolchain: 1.53.0  # CURRENT DEVELOPMENT TOOLCHAIN
          override: true
      - name: Check out ci repo
        run: git clone https://github.com/stratis-storage/ci.git
      - name: Run ${{ matrix.task }}
        run: ${{ matrix.task }}
        working-directory: ./ci/dependency_management
