---
name: stratisd nightly

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: 0 0 * * *

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  dependencies:
    continue-on-error: true
    strategy:
      matrix:
        include:
          - task: cargo update --locked
            toolchain: 1.51.0  # CURRENT DEVELOPMENT TOOLCHAIN
            components: cargo
          - task: make -f Makefile compare-fedora
            toolchain: 1.51.0  # CURRENT DEVELOPMENT TOOLCHAIN
            components: cargo
          - task: make -f Makefile verify-dependency-bounds
            toolchain: 1.51.0  # CURRENT DEVELOPMENT TOOLCHAIN
            components: cargo
          - task: make -f Makefile audit
            toolchain: 1.51.0  # CURRENT DEVELOPMENT TOOLCHAIN
            components: cargo
    runs-on: ubuntu-18.04
    container:
      image: fedora:32
      options: --privileged -v /dev:/dev
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          curl
          cryptsetup-devel
          dbus-devel
          libblkid-devel
          make
          openssl-devel
          python-requests
          python-semantic_version
          systemd-devel
      - uses: actions-rs/toolchain@v1
        with:
          components: ${{ matrix.components }}
          toolchain: ${{ matrix.toolchain }}
      - name: Test ${{ matrix.task }} on ${{ matrix.toolchain }} toolchain
        run: ${{ matrix.task }}
