---
name: stratisd nightly

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: 15 3 * * *

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  jobs:
    strategy:
      matrix:
        include:
          - task: cargo package
            toolchain: 1.65.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
          - task: make -f Makefile stratis-dumpmetadata
            toolchain: 1.65.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
    runs-on: ubuntu-20.04
    container:
      image: fedora:36  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          curl
          cryptsetup-devel
          dbus-devel
          libblkid-devel
          make
          openssl-devel
          python-requests
          python-semantic_version
          systemd-devel
      - uses: dtolnay/rust-toolchain@master
        with:
          components: ${{ matrix.components }}
          toolchain: ${{ matrix.toolchain }}
      - name: Test ${{ matrix.task }} on ${{ matrix.toolchain }} toolchain
        run: ${{ matrix.task }}

  check_future_dependencies:
    runs-on: ubuntu-20.04
    container:
      image: fedora:36  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          curl
          cryptsetup-devel
          dbus-devel
          libblkid-devel
          make
          openssl-devel
          systemd-devel
      - uses: dtolnay/rust-toolchain@master
        with:
          components: cargo, clippy
          toolchain: 1.65.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
      - name: Run cargo-update
        run: cargo update
      - name: Run cargo-clippy
        run: make -f Makefile clippy
      - name: Run cargo-audit
        run: make -f Makefile audit

  allowed_failures:
    continue-on-error: true
    strategy:
      matrix:
        include:
          - task: make -f Makefile audit
            toolchain: 1.65.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            components: cargo
          # Allowed because a failure may occur after a new Rust stable
          # version is released.
          - task: make -f Makefile clippy
            toolchain: stable
            components: clippy
    runs-on: ubuntu-20.04
    container:
      image: fedora:36  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          curl
          cryptsetup-devel
          dbus-devel
          libblkid-devel
          make
          openssl-devel
          python-requests
          python-semantic_version
          systemd-devel
      - uses: dtolnay/rust-toolchain@master
        with:
          components: ${{ matrix.components }}
          toolchain: ${{ matrix.toolchain }}
      - name: Test ${{ matrix.task }} on ${{ matrix.toolchain }} toolchain
        run: ${{ matrix.task }}

  checks-with-ci-repo:
    runs-on: ubuntu-20.04
    container:
      image: fedora:36  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          curl
          cryptsetup-devel
          dbus-devel
          git
          libblkid-devel
          make
          openssl-devel
          python-requests
          python-semantic_version
          systemd-devel
      - uses: dtolnay/rust-toolchain@master
        with:
          components: cargo
          toolchain: 1.65.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
      - name: Check out ci repo
        run: git clone https://github.com/stratis-storage/ci.git
      - name: Run comparisons of version specs with available Fedora packages
        # yamllint disable rule:line-length
        run: |
          COMPARE_FEDORA_VERSIONS=./ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=rawhide make -f Makefile_dependencies check-fedora-versions
          COMPARE_FEDORA_VERSIONS=./ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=f37 make -f Makefile_dependencies check-fedora-versions
          COMPARE_FEDORA_VERSIONS=./ci/dependency_management/compare_fedora_versions FEDORA_RELEASE=f36 make -f Makefile_dependencies check-fedora-versions

  legacy-audit-checks:
    continue-on-error: true
    strategy:
      matrix:
        include:
          - tag: v3.3.0
          - tag: v3.2.3
          - tag: v3.2.2
          - tag: v3.2.1
          - tag: v3.2.0
    runs-on: ubuntu-20.04
    container:
      image: fedora:36  # CURRENT DEVELOPMENT ENVIRONMENT
      options: --privileged -v /dev:/dev
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: tags/${{ matrix.tag }}
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          curl
          cryptsetup-devel
          dbus-devel
          libblkid-devel
          make
          openssl-devel
          systemd-devel
      - uses: dtolnay/rust-toolchain@master
        with:
          components: cargo
          toolchain: 1.65.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
      - name: Run audit task on ${{ matrix.tag }}
        run: make -f Makefile audit

  legacy-cli-checks:
    continue-on-error: true
    strategy:
      matrix:
        include:
          - image: fedora:36  # PINNED DEVELOPMENT ENVIRONMENT
            tag: v3.4.0
          - image: fedora:36  # PINNED DEVELOPMENT ENVIRONMENT
            tag: v3.3.0
          - image: fedora:35  # PINNED DEVELOPMENT ENVIRONMENT
            tag: v3.2.0
          - image: fedora:35  # PINNED DEVELOPMENT ENVIRONMENT
            tag: v3.1.0
          - image: fedora:35  # PINNED DEVELOPMENT ENVIRONMENT
            tag: v3.0.0
          - image: fedora:35  # PINNED DEVELOPMENT ENVIRONMENT
            tag: v3.0.1
    runs-on: ubuntu-20.04
    container: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          asciidoc
          clang
          cryptsetup-devel
          dbus-daemon
          dbus-tools
          dbus-devel
          libblkid-devel
          git
          make
          python3-coverage
          python3-dbus-client-gen
          python3-dbus-python-client-gen
          python3-justbytes
          python3-dateutil
          python3-packaging
          python3-psutil
          python3-wcwidth
          systemd-devel
      - uses: dtolnay/rust-toolchain@master
        with:
          components: cargo
          toolchain: 1.65.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
      - name: Build stratisd
        run: PROFILEDIR=debug make -f Makefile build-and-install
      - name: Check out stratis-cli
        run: git clone https://github.com/stratis-storage/stratis-cli.git
      - name: Checkout tag
        run: git checkout tags/${{ matrix.tag }} -b ${{ matrix.tag }}
        working-directory: ./stratis-cli
      - name: Set up for D-Bus
        run: |
          mkdir -p /var/lib/dbus
          dbus-uuidgen > /var/lib/dbus/machine-id
          mkdir -p /var/run/dbus
      - name: Start D-Bus
        run: >
          dbus-daemon
          --config-file=/usr/share/dbus-1/system.conf
          --print-address
      - name: Run stratis-cli tests
        run: >
          RUST_LOG=stratisd=debug
          STRATISD=/usr/libexec/stratisd
          STRATIS_SKIP_UNSTABLE_TEST=1
          PYTHONPATH=./src
          make dbus-tests
        working-directory: ./stratis-cli

  python-based-tests:
    strategy:
      matrix:
        include:
          - image: fedora:36  # CURRENT DEVELOPMENT ENVIRONMENT
            toolchain: 1.65.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
          - image: fedora:34  # LOWEST DEVELOPMENT ENVIRONMENT
            toolchain: 1.62.1  # LOWEST SUPPORTED RUST TOOLCHAIN
    runs-on: ubuntu-20.04
    container:
      image: ${{ matrix.image }}
      options: --privileged -v /dev:/dev
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          asciidoc
          clang
          cryptsetup-devel
          curl
          dbus-daemon
          dbus-devel
          dbus-tools
          device-mapper-persistent-data
          libblkid-devel
          make
          python3-dbus
          python3-dbus-client-gen
          python3-dbus-python-client-gen
          python3-justbytes
          python3-psutil
          python3-pyudev
          systemd-devel
          systemd-udev
          xfsprogs
      - uses: dtolnay/rust-toolchain@master
        with:
          components: cargo
          toolchain: ${{ matrix.toolchain }}
      - name: Install all necessary Stratis files
        run: PROFILEDIR=debug make -f Makefile build-and-install
      - name: Start udev
        run: /usr/lib/systemd/systemd-udevd &
      - name: Set up for D-Bus
        run: |
          mkdir -p /var/lib/dbus
          dbus-uuidgen > /var/lib/dbus/machine-id
          mkdir -p /var/run/dbus
      - name: Start D-Bus
        run: >
          dbus-daemon
          --config-file=/usr/share/dbus-1/system.conf
          --print-address
      - name: Tests on ${{ matrix.image }} using Rust ${{ matrix.toolchain }}
        run: >
          RUST_LOG=stratisd=debug
          STRATISD=/usr/libexec/stratisd
          STRATIS_PREDICT_USAGE=/usr/bin/stratis-predict-usage
          PYTHONPATH=./src
          make predict-tests
        working-directory: ./tests/client-dbus
