---
# linting and formatting for support code that is not part of the project
name: stratisd support CI

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - rebase-3.6.0
    paths:
      - ".packit.yaml"
      - "plans/**"
      - "tests-fmf/**"
      - "**/*.yml"
      - "tests/**"
      - "!tests/**/README.*"
  pull_request:
    branches:
      - rebase-3.6.0
    paths:
      - ".packit.yaml"
      - "plans/**"
      - "tests-fmf/**"
      - "**/*.yml"
      - "tests/**"
      - "!tests/**/README.*"

  workflow_dispatch:

# cancel the in-progress workflow when PR is refreshed.
# yamllint disable rule:line-length
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  support-checks:
    strategy:
      matrix:
        include:
          - dependencies: >
              pylint
              python3-dbus-client-gen
              python3-dbus-python-client-gen
              python3-justbytes
              python3-psutil
              python3-pyudev
              python3-semantic_version
            task: PYTHONPATH=./src make -f Makefile lint
            working-directory: ./tests/client-dbus
          - dependencies: black python3-isort
            task: make -f Makefile fmt-ci
            working-directory: ./tests/client-dbus
          - dependencies: yamllint tmt
            task: make -f Makefile yamllint tmtlint
            working-directory: .
    runs-on: ubuntu-22.04
    container: fedora:38  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: >
          dnf install -y
          make
          ncurses
          ${{ matrix.dependencies }}
      - name: Run test
        run: ${{ matrix.task }}
        working-directory: ${{ matrix.working-directory }}
