---
name: stratisd weekly

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: 15 3 * * 1

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  next-fedora-python-checks:
    continue-on-error: true
    strategy:
      matrix:
        include:
          # PYTHON CHECKS ON NEXT FEDORA PYTHON AND PYTHON TOOLS VERSION
          - dependencies: >
              bandit
              pylint
              python3-dbus-client-gen
              python3-dbus-python-client-gen
              python3-justbytes
              python3-psutil
              python3-pyudev
              python3-semantic_version
              python3-tenacity
            task: >
              PATH=${PATH}:/github/home/.local/bin
              PYTHONPATH=./src make -f Makefile lint
            working-directory: ./tests/client-dbus
          - dependencies: black python3-isort
            task: make -f Makefile fmt-ci
            working-directory: ./tests/client-dbus
          - dependencies: yamllint tmt
            task: make -f Makefile yamllint tmtlint
            working-directory: .
          - dependencies: shfmt
            task: make -f Makefile fmt-shell-ci
            working-directory: .
    runs-on: ubuntu-latest
    container: fedora:41  # NEXT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: >
          dnf install -y
          make
          ncurses
          pip
          python-unversioned-command
          ${{ matrix.dependencies }}
      - name: Display Python version
        run: python --version
      - name: Install pyright
        run: pip install --user pyright
      - name: ${{ matrix.task }}
        run: ${{ matrix.task }}
        working-directory: ${{ matrix.working-directory }}

  legacy-audit-checks:
    continue-on-error: true
    strategy:
      matrix:
        include:
          - tag: stratisd-v3.5.8
          - tag: v3.5.7
          - tag: v3.5.6
          - tag: v3.5.5
          - tag: v3.5.4
          - tag: v3.5.3
          - tag: v3.5.2
          - tag: v3.5.1
          - tag: v3.5.0
          - tag: v3.4.4
          - tag: v3.4.3
          - tag: v3.4.2
          - tag: v3.4.1
          - tag: v3.4.0
          - tag: v3.3.0
          - tag: v3.2.0
          - tag: v3.1.0
          - tag: v3.0.0
    runs-on: ubuntu-22.04
    container:
      image: fedora:40  # CURRENT DEVELOPMENT ENVIRONMENT
      options: --privileged -v /dev:/dev
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: tags/${{ matrix.tag }}
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          curl
          cryptsetup-devel
          dbus-devel
          libblkid-devel
          make
          ncurses
          openssl-devel
          systemd-devel
      - uses: dtolnay/rust-toolchain@master
        with:
          components: cargo
          toolchain: 1.84.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
      - uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-audit
      - name: Run audit task on ${{ matrix.tag }}
        run: make -f Makefile audit
