---
name: stratisd weekly

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: 15 3 * * 1

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  next-fedora-python-checks:
    continue-on-error: true
    strategy:
      matrix:
        include:
          # PYTHON CHECKS ON NEXT FEDORA PYTHON AND PYTHON TOOLS VERSION
          - dependencies: >
              pylint
              python3-dbus-client-gen
              python3-dbus-python-client-gen
              python3-justbytes
              python3-psutil
              python3-pyudev
              python3-semantic_version
            task: PYTHONPATH=./src make -f Makefile lint
            working-directory: ./tests/client-dbus
          - dependencies: black python3-isort
            task: make -f Makefile fmt-travis
            working-directory: ./tests/client-dbus
          - dependencies: yamllint
            task: make -f Makefile yamllint
            working-directory: .
          - dependencies: shfmt
            task: make -f Makefile fmt-shell-ci
            working-directory: .
    runs-on: ubuntu-latest
    container: fedora:37  # NEXT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: >
          dnf install -y
          make
          python-unversioned-command
          ${{ matrix.dependencies }}
      - name: Display Python version
        run: python --version
      - name: ${{ matrix.task }}
        run: ${{ matrix.task }}
        working-directory: ${{ matrix.working-directory }}

  legacy-audit-checks:
    continue-on-error: true
    strategy:
      matrix:
        include:
          - tag: v3.1.2
          - tag: v3.1.1
          - tag: v3.1.0
          - tag: v3.0.4
          - tag: v3.0.3
          - tag: v3.0.2
          - tag: v3.0.1
          - tag: v3.0.0
    runs-on: ubuntu-20.04
    container:
      image: fedora:36  # CURRENT DEVELOPMENT ENVIRONMENT
      options: --privileged -v /dev:/dev
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: tags/${{ matrix.tag }}
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          curl
          cryptsetup-devel
          dbus-devel
          libblkid-devel
          make
          openssl-devel
          systemd-devel
      - uses: dtolnay/rust-toolchain@master
        with:
          components: cargo
          toolchain: 1.66.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
      - name: Run audit task on ${{ matrix.tag }}
        run: make -f Makefile audit
